<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Add Item</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" >
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
</head>
<body>
<div class="container-collector" id="main">
    <div class="container-content" id="content_flex_top_collector">
        <div class="col-6">
            <h4>
            Filter by type:
            <th:block th:each="type :  ${types}">
                <a th:href="${'/admin/manageByType/?type=' + type}"/>
                <td th:text="${type}"></td>
                </a>&nbsp;|&nbsp;
            </th:block>
            <a th:href="${'/admin/manage'}"/>
            <td th:text="All"></td></a>
            </h4>
        </div>

        <div class="col-6 text-right">
            Logged in user: <b th:inline="text"  class="user"> [[${#httpServletRequest.remoteUser}]] </b>
            <form th:action="@{/app-logout}" method="POST" name="logoutForm">
                <input type="submit" value="Logout"/>
            </form>
        </div>
    </div>




    <div class="container-content" id="content_flex_center">

            <form action="#" th:action="@{/admin/addItem/validate}" th:object="${item}" method="post" class="form-horizontal" style="width: 100%">
                <div class="form-group">
                    <label for="itemName" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{itemName}" id="itemName" placeholder="Name" class="col-4">
                        <p class="text-danger" th:if="${#fields.hasErrors('itemName')}" th:errors="*{itemName}"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="itemNumber" class="col-sm-2 control-label">Number</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{itemNumber}" id="itemNumber" placeholder="itemNumber" class="col-4">
                        <p class="text-danger" th:if="${#fields.hasErrors('itemNumber')}" th:errors="*{itemNumber}"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="itemCondition" class="col-sm-2 control-label">Condition</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{itemCondition}" id="itemCondition" placeholder="Condition" class="col-4">
                        <p class="text-danger" th:if="${#fields.hasErrors('itemCondition')}" th:errors="*{itemCondition}"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="itemQuantity" class="col-sm-2 control-label">Quantity</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{itemQuantity}" id="itemQuantity" placeholder="Quantity" class="col-4">
                        <p class="text-danger" th:if="${#fields.hasErrors('itemQuantity')}" th:errors="*{itemQuantity}"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="comments" class="col-sm-2 control-label">Comments</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{comments}" id="comments" placeholder="Comments" class="col-4">
                        <p class="text-danger" th:if="${#fields.hasErrors('comments')}" th:errors="*{comments}"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="detail" class="col-sm-2 control-label">Detail</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{detail}" id="detail" placeholder="Detail" class="col-4">
                        <p class="text-danger" th:if="${#fields.hasErrors('detail')}" th:errors="*{detail}"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="type" class="col-sm-2 control-label">Type</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{type}" id="type" placeholder="Type" class="col-4">
                        <p class="text-danger" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="storageLocation" class="col-sm-2 control-label">Storage</label>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{storageLocation}" id="storageLocation" placeholder="Storage" class="col-4">
                        <p class="text-danger" th:if="${#fields.hasErrors('storageLocation')}" th:errors="*{storageLocation}"></p>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-sm-12">
                        <a class="btn btn-danger btn-sm" href="/admin/manage">Cancel</a>
                        <input class="btn btn-primary btn-sm" type="submit" value="Add Item">
                    </div>
                </div>

            </form>
<!--        </div>-->


    </div>

    <div id="btmL">
        <h2>Find me on social media</h2>
        <h3><strong>A new project idea?</strong> Contact me!</h3>
        <a href="https://twitter.com/Suracki" class="fa fa-twitter"></a>
        <a href="https://github.com/Suracki" class="fa fa-github"></a>
        <a href="https://www.linkedin.com/in/simon-linford/" class="fa fa-linkedin"></a>
    </div>
    <div id="btmR"></div>

</div>
</body>
</html>