<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Add Item</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" >
</head>
<body>
<div class="container">

    <div class="row">
        <h2>Add New Item</h2>
    </div>

    <div class="row">
        <form action="#" th:action="@{/admin/addItem/validate}" th:object="${item}" method="post" class="form-horizontal" style="width: 100%">
            <div class="form-group">
                <label for="itemName" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{itemName}" id="itemName" placeholder="Name" class="col-4">
                    <p class="text-danger" th:if="${#fields.hasErrors('itemName')}" th:errors="*{itemName}"></p>
                </div>
            </div>
            <div class="form-group">
                <label for="itemNumber" class="col-sm-2 control-label">Number</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{itemNumber}" id="itemNumber" placeholder="itemNumber" class="col-4">
                    <p class="text-danger" th:if="${#fields.hasErrors('itemNumber')}" th:errors="*{itemNumber}"></p>
                </div>
            </div>
            <div class="form-group">
                <label for="itemCondition" class="col-sm-2 control-label">Condition</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{itemCondition}" id="itemCondition" placeholder="Condition" class="col-4">
                    <p class="text-danger" th:if="${#fields.hasErrors('itemCondition')}" th:errors="*{itemCondition}"></p>
                </div>
            </div>
            <div class="form-group">
                <label for="itemQuantity" class="col-sm-2 control-label">Quantity</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{itemQuantity}" id="itemQuantity" placeholder="Quantity" class="col-4">
                    <p class="text-danger" th:if="${#fields.hasErrors('itemQuantity')}" th:errors="*{itemQuantity}"></p>
                </div>
            </div>
            <div class="form-group">
                <label for="comments" class="col-sm-2 control-label">Comments</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{comments}" id="comments" placeholder="Comments" class="col-4">
                    <p class="text-danger" th:if="${#fields.hasErrors('comments')}" th:errors="*{comments}"></p>
                </div>
            </div>
            <div class="form-group">
                <label for="detail" class="col-sm-2 control-label">Detail</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{detail}" id="detail" placeholder="Detail" class="col-4">
                    <p class="text-danger" th:if="${#fields.hasErrors('detail')}" th:errors="*{detail}"></p>
                </div>
            </div>
            <div class="form-group">
                <label for="type" class="col-sm-2 control-label">Type</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{type}" id="type" placeholder="Type" class="col-4">
                    <p class="text-danger" th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></p>
                </div>
            </div>
            <div class="form-group">
                <label for="storageLocation" class="col-sm-2 control-label">Storage</label>
                <div class="col-sm-10">
                    <input type="text" th:field="*{storageLocation}" id="storageLocation" placeholder="Storage" class="col-4">
                    <p class="text-danger" th:if="${#fields.hasErrors('storageLocation')}" th:errors="*{storageLocation}"></p>
                </div>
            </div>


            <div class="form-group">
                <div class="col-sm-12">
                    <a class="btn btn-danger btn-sm" href="/admin/manage">Cancel</a>
                    <input class="btn btn-primary btn-sm" type="submit" value="Add Item">
                </div>
            </div>

        </form>
    </div>

</div>
</body>
</html>