<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Manage Collection</title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" >
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-6">
			Filter by type:
			<th:block th:each="type :  ${types}">
				<a th:href="${'/admin/manageByType/?type=' + type}"/>
				<td th:text="${type}"></td>
				</a>&nbsp;|&nbsp;
			</th:block>
			<a th:href="${'/admin/manage'}"/>
			<td th:text="All"></td></a>
		</div>

		<div class="col-6 text-right">
			Logged in user: <b th:inline="text"  class="user"> [[${#httpServletRequest.remoteUser}]] </b>
			<form th:action="@{/app-logout}" method="POST" name="logoutForm">
				<input type="submit" value="Logout"/>
			</form>
		</div>
	</div>
	<div class="row"><h2>Items</h2></div>
	<div class="row">
		<a href="/admin/addItem" class="btn btn-primary btn-sm">Add New</a>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Id</th>
					<th>Quantity</th>
					<th>Name</th>
					<th>Number</th>
					<th>Condition</th>
					<th>Comments</th>
					<th>Detail</th>
					<th>Type</th>
					<th>Storage</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			<tr th:each="item : ${items}">
				<td style="width: 10%" th:text="${item.itemId}"></td>
				<td th:text="${item.itemQuantity}"></td>
				<td th:text="${item.itemName}"></td>
				<td th:text="${item.itemNumber}"></td>
				<td th:text="${item.itemCondition}"></td>
				<td th:text="${item.comments}"></td>
				<td th:text="${item.detail}"></td>
				<td th:text="${item.type}"></td>
				<td th:text="${item.storageLocation}"></td>
				<td style="width: 15%" class="text-center">
					<a th:href="@{/admin/updateItem/{id}(id=${item.itemId})}">Edit</a>&nbsp;|&nbsp;
					<a th:href="@{/admin/deleteItem/{id}(id=${item.itemId})}">Delete</a>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>