<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Manage Collection</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" >
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
</head>
<body>

<div class="container-collector" id="main">
    <div class="continer-content" id="content_flex_top_collector">
        <div class="col-6">
            <h4>
                Filter by type:
                <th:block th:each="type :  ${types}">
                    <a th:href="${'/admin/manageByType/?type=' + type}"/>
                    <td th:text="${type}"></td>
                    </a>&nbsp;|&nbsp;
                </th:block>
                <a th:href="${'/admin/manage'}"/>
                <td th:text="All"></td></a>
            </h4>
        </div>

        <div class="col-6 text-right">
            Logged in user: <b th:inline="text"  class="user"> [[${#httpServletRequest.remoteUser}]] </b>
            <form th:action="@{/app-logout}" method="POST" name="logoutForm">
                <input type="submit" value="Logout"/>
            </form>
        </div>
    </div>

    <div class="continer-content" id="content_flex">

        <div class="row">
            <a href="/admin/addItem" class="btn btn-primary btn-sm">Add New</a>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Quantity</th>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Condition</th>
                    <th>Comments</th>
                    <th>Detail</th>
                    <th>Type</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${collection}">
                    <td style="width: 10%" th:text="${item.itemId}"></td>
                    <td th:text="${item.itemQuantity}"></td>
                    <td th:text="${item.itemName}"></td>
                    <td th:text="${item.itemNumber}"></td>
                    <td th:text="${item.itemCondition}"></td>
                    <td th:text="${item.comments}"></td>
                    <td th:text="${item.detail}"></td>
                    <td th:text="${item.type}"></td>
                    <td style="width: 15%" class="text-center">
                        <a th:href="@{/admin/updateItem/{id}(id=${item.itemId})}">Edit</a>&nbsp;|&nbsp;
                        <a th:href="@{/admin/deleteItem/{id}(id=${item.itemId})}">Delete</a>
                        <th:block th:if="${item.type == 'MTG'}">&nbsp;|&nbsp;<a th:href="@{/admin/cardDetails?set_code={set}&collectors_number={col}(set=${item.detail},col=${item.itemNumber})}">Card Details</a></th:block>
                        <th:block th:if="${item.type == 'LEGO'}">&nbsp;|&nbsp;<a th:href="@{https://www.bricklink.com/v2/catalog/catalogitem.page?S={col}-1(col=${item.itemNumber})}">Bricklink</a></th:block>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="form-group">
                <th:block th:if="${firstPage != 'true'}">
                    <a class="btn btn-danger btn-sm" href="/admin/managePagedBack"><-</a>
                </th:block>
                Page <td th:text="${page}"></td>
                <th:block th:if="${lastPage != 'true'}">
                    <a class="btn btn-danger btn-sm" href="/admin/managePaged">-></a>
                </th:block>
            </div>

        </div>

    </div>

    <div id="btmL">
        <h2>Find me on social media</h2>
        <h3><strong>A new project idea?</strong> Contact me!</h3>
        <a href="https://twitter.com/Suracki" class="fa fa-twitter"></a>
        <a href="https://github.com/Suracki" class="fa fa-github"></a>
        <a href="https://www.linkedin.com/in/simon-linford/" class="fa fa-linkedin"></a>
    </div>
    <div id="btmR"></div>

</div>
</body>
</html>